<div class="row">
    <app-date-range>
        <div class="mb-3 col-12 col-sm-6 col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Id rezerwacji" aria-label=""
                    aria-describedby="basic-addon1" [(ngModel)]="reservationId" >
            </div>
        </div>
        <div class="mb-3 col-12 col-sm-6 col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nazwisko" aria-label=""
                    aria-describedby="basic-addon1" [(ngModel)]="lastname" >
            </div>
        </div>
    </app-date-range>
    <div class="d-flex mb-3">
        <button class="btn btn-primary" (click)="onFilter()">Filtruj</button>
        <button class="btn btn-outline-secondary ms-3" (click)="onClear()">Wyczyść filtr</button>
    </div>
</div>
