.blik-confirmation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: #00000025;
    border-radius: 6px;

    .text-primary{
        color: var(--orange-500) !important;
    }
}