<div class="w-100 header">
    <div class="overly">
        <div class="container">
            <app-logo
                [size]="200"
            />
            <div class="d-flex flex-column align-items-end">
                <h2 class="fs-1">Popłyń z nami</h2>
                <p class="fs-5 text-white text-end">Jeśli chcesz przeżyć niezapomiane chwilę, zarezerwuj spływ już teraz</p>
                <button class="btn btn-outline-primary">Rezerwuj</button>
            </div>
        </div>
    </div>
</div>
