@if(loadingService.isLoading()){
  <div class="col-12 d-flex justify-content-center">
      <app-loader/>
  </div>
}
@else {
  @for (item of apiManager.data(); track item.id; let idx = $index, e = $even) {
    <app-reservation-item [reservation]="item" [index]="idx + 1" (reservationDeleteEvent)="deleteReservation($event)"/>
  }
  @empty {
    <div class="w-100 d-flex flex-column justify-content-center align-items-center p-4 no-data">
      <i class="bi bi-calendar-x"></i>
      <div class="fs-1">Brak rezerwacji</div>
      <div class="fs-6 text-secondary">W podanym terminie nie ma żadnych rezerwacji</div>
  </div>
  }
}