<app-page-wrapper [activePageIndex]="2">
    <div class="w-100 d-flex justify-content-end">
        <button class="btn btn-primary mb-3" (click)="openModal()"><i class="bi bi-plus-circle me-2"></i>Dodaj</button>
    </div>
    <div class="bg-white shadow rounded overflow-hidden">
        @if(loadingService.isLoading()){
            <app-loader/>
        }
        @else{
            @for (item of apiManager.data(); track $index) {
                <app-equipment-item 
                    [equipmentItem]="item"
                    [index]="$index">
                    <div class="d-flex flex-row-reverse flex-md-row gap-2">
                        <button class="btn btn-outline-primary" (click)="onEdit(item.id)">
                            <i class="bi bi-pencil-square"></i>
                            Edytuj
                        </button>
                        <button class="btn btn-outline-danger" (click)="deleteData(item.id)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </div>
                </app-equipment-item>
            }
            @empty {
                <app-no-data/>
            }
        }
    </div>
    @if(modalFormService.isModalOpen() === true && !editedDataId){
        <app-form-modal>
            <app-add-equipment 
                (createdDataEvent)="onSuccessEquipmentAdd($event)"/>
        </app-form-modal>
    }
    @if(editedDataId && modalFormService.isModalOpen()){
        <app-form-modal>
            <app-edit-equipment
                [id]="editedDataId"
                (editedDataEvent)="onSuccessEdit()"
            />
        </app-form-modal>
    }
</app-page-wrapper>