<app-page-wrapper [activePageIndex]="0">
    @if(apiManager.loadingService.isLoading()){
        <app-loader/>
    }
    @else{
        <div class="row m-0">
            <div class="col-12 col-lg-6 h-100 p-0 m-0">
                <app-dayli-stats [reservations]="apiManager.data()?.reservations || []" [availableEquipment]="apiManager.data()?.equipment || []"/>
            </div>
            <div class="col-12 col-lg-6 mt-4 mt-lg-0" style="height: 100;">
                <app-available-equipment [equipment]="apiManager.data()?.equipment || []"/>
            </div>
            <div class="col-12 mt-4">
                <app-reservations [reservations]="apiManager.data()?.reservations || []"/>
            </div>
        </div>
    }
</app-page-wrapper>