.stats-card{
    min-height: 200px;
    background-color: var(--orange-500);
    color: white;

    .icon{
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        i{
            font-size: 26px;
            color: black;
        }
    }

    .stat{
        font-weight: 600;
        font-size: 24px;
    }

    .label{
        font-weight: 300;
        letter-spacing: 0.5px;
    }
}

.black{
    background-color: black;
}