.dot{
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 100px;
}

.role{
    background-color: var(--orange-500);
    padding: 2px 10px;
    border-radius: 100px;
    color: white;
    font-size: 12px;
}

.status{
    font-size: 12px;
}