@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

.admin-wrapper{
    width: 100%;
    min-height: 100vh;
    transition: all ease-in-out 0.3s;
    position: absolute;
    right: 0;

    @include media-breakpoint-up(lg) {
        width: calc(100% - 220px);
    }
}