<div class="notification-box shadow">
    @for (item of reservations; track item.id) {
        <div class="p-3 border-bottom partial-data d-flex justify-content-between">
            <div>
                <div>Data:</div>
                <h5>{{item.executionDate | date: dateFormat}}</h5>
            </div>
            <div>
                <div>Ilość osób:</div>
                <h5>{{item.participantNumber}}</h5>
            </div>
        </div>
      }
      @empty {
        <div class="w-100 d-flex flex-column justify-content-center align-items-center p-4 no-data">
            <i class="bi bi-bell-slash fs-4"></i>
          <div class="fs-6">Brak powiadomień</div>
      </div>
      }
</div>
